ALLOW_JSONPATH_EVAL=true
APP_SECRET_TOKEN=XXXXXX
ENABLE_INSECURE_AGENTS=true
FORCE_SSL=false
INVITATION_CODE=HELLOHUGINN
RAILS_ENV=production
RAILS_SERVE_STATIC_FILES=true
# SMTP_AUTHENTICATION=plain
# SMTP_DOMAIN=gmail.com
# SMTP_ENABLE_STARTTLS_AUTO=true
# SMTP_PASSWORD=XXXXXX
# SMTP_PORT=587
# SMTP_SERVER=smtp.gmail.com
# SMTP_USER_NAME=XXXXXX@gmail.com
TIMEZONE=Brisbane
TWITTER_OAUTH_KEY=XXXXXX
TWITTER_OAUTH_SECRET=XXXXXX
TZ=Australia/Brisbane
USE_GRAPHVIZ_DOT=dot
DIAGRAM_DEFAULT_LAYOUT=dot
